<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta name="description">
		<title>site name</title>

        <link rel = "icon" type= "image/png" href = "../images/holder.png">
		<link rel = "stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
    </head>
    <body>
        
        <div id="swiper">
            <div id="swiperImage"><img id="actualImg" draggable="false" src="{{ url_for('static',filename='images/community/happy.jpeg') }}" alt=""></div>
            <div id="swiperTextBox">
                <div id="swiperName">Organization name</div>
                <div id="swiperDesc">Organization decription that says alot about what the support do</div>
                
            </div>
        </div>


        <div id="menu">
            <div class="menuButton" id="userScreen"><img src="{{ url_for('static',filename='images/user.png') }}" alt=""></div>
            <div class="menuButton" id="tinderScreen"><img src="{{ url_for('static',filename='images/plus.png') }}" alt=""></div>
            <div class="menuButton" id="commScreen"><img src="{{ url_for('static',filename='images/holding-hand.png') }}" alt=""></div>
        </div>

        <!-- Overlay -->
        <div id="overlay"></div>
        <script src="{{ url_for('static',filename='js/index.js') }}"></script>
    </body>
</html>