* {
    user-select: none;
}

body,html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(255, 232, 248);
}



#menu {
    position:fixed;
    background-color: rgb(213, 101, 180) !important;
    height: 10vh;
    width: 40%;
    top: 90vh;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: center;
    display: flex;
    z-index: 10;
}

#swiperName {
    font-size: 4vh;
    color: white;
    font-weight: 600;
    justify-self: center;
    align-self: center;
    text-align: center;
}

#swiperDesc {
    font-size: 2.5vh;
    color: rgb(243, 243, 243);
    font-weight: 100;
    text-align: center;
}

.menuButton {
    height: 9vh;
    width: 9vh;
    display: flex;             
    justify-content: center;
    align-items: center;
    border-radius: 50%;        
    background-color: transparent;
    margin: 0 2vw;
    overflow: hidden;          
}

.menuButton img {
    max-height: 70%;          
    max-width: 70%;              
    object-fit: contain;
}


.menuButton:first-child img {
    margin-left: 0;
}

.menuButton:last-child img {
    margin-right: 0;
}


.menuButton:hover {
    background-color: rgb(158, 65, 130);
}


.hidden {
    display: none !important; /* Hide the options window by default */
}

#swiper {
    position: fixed;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 90vh;
    touch-action: pan-y; 
    transition: transform 300ms ease; 

}

#swiper div {
    background-color: transparent;
}

#swiperImage {
    width: 100%;
    height: 100%;
    z-index: 1;
}

#swiperImage img {
    width: 100%;
    height: 100%;
}
#swiperTextBox { 
    background-color: rgba(235, 178, 218, 0.95) !important;
    z-index: 2;
    height: 15vh;
    width: 100%;
    position: absolute;
    display: block;
    left: 0;
    top: 0;
}